<settings>
  <cpg_save_to_file>0</cpg_save_to_file>
  <cpg_load_from_file>1</cpg_load_from_file>
  <systematic_search_type>recursion</systematic_search_type>
  <systematic_search_prefix>1</systematic_search_prefix>
  <config_cpg_scheme>cpg_interneurons_off_cpg.txt</config_cpg_scheme>
  <config_cpg_type>full</config_cpg_type>
  <config_cpg_parameters>cpg_parameters.txt</config_cpg_parameters>
  <config_cpg_data>3D_C006</config_cpg_data>
  <config_systematic_parameters>test</config_systematic_parameters>
  <cpg_strong_sync>1</cpg_strong_sync>

  <distance_max>300.0</distance_max>
  <duration_max>20.0</duration_max> 
<!--   limited in duration, not in distance (300 m cant be reached in 20 s even by Usain Bolt -->
  <rescale_parameters>0</rescale_parameters>
  <muscle_step_number>10</muscle_step_number>
  <noise_muscle>0</noise_muscle>
  <noise_entity>0</noise_entity>
  <noise_sensor>0</noise_entity>
  <noise_type>sqrt</noise_type>
  <noise_class>constant</noise_class>
  <noise_variationCoefficient>0.00001</noise_variationCoefficient>
  <delay>1</delay> <!--    <delay>1</delay> -->
  <transfer_function>0</transfer_function>
  <reload_param_on_touchdown>0</reload_param_on_touchdown>
  <restart_simulation_at_end>0</restart_simulation_at_end>
  <fixedViewPoint>0</fixedViewPoint>


<experiment>
	fullReflex{p_file=current,start_after_step=3}
</experiment>

  <2D>1</2D>
  <launching_gate>launching</launching_gate>
  <cpg_start_learnining_cycle_number>9</cpg_start_learnining_cycle_number>
  <cpg_strong_sync>1</cpg_strong_sync>
  <log_nmm>1</log_nmm>
  <log_nmm_folder>log_ind4</log_nmm_folder>
  <log_nmm_overwrite>1</log_nmm_overwrite>
  <cpg_knodes>10</cpg_knodes>
  <obstacle_1_pos>9.25</obstacle_1_pos>
  <stimulation_scheme>1</stimulation_scheme>
  <stimulation_scheme_muscle>RIGHT_VAS</stimulation_scheme_muscle>
  <coman>0</coman>
  <coronal_linear>0</coronal_linear>
  <neverstop>0</neverstop>
  <RL_ReflexModulation>0</<RL_ReflexModulation>
  <RL_ReflexModulation_Number>12</<RL_ReflexModulation_Number>
  <RL_MotoneuronModulation>0</<RL_MotoneuronModulation>
  <RL_MotoneuronModulation_Number>18</RL_MotoneuronModulation_Number>
  <verbose>0</verbose>
  <debug>0</debug>
  <bumper>1</bumper>

</settings>
